#login-popup {
	display: block;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	top: -285px;
	text-align: center;
	left: 0px;
	z-index: 100;
	padding-bottom: 20px;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.8);
}

#login-title {
	padding-top: 120px !important;
	font-size: 16px;
	color: #fff;
	padding-top: 10px;
	display: block;
	text-indent: 10px;
	font-style: italic;
	font-weight: bold;
}

#login-form input {
	display: block;
	width: 250px;
	height: 25px;
	margin-top: 10px;
	background-color: rgba(12, 31, 35, 0.9);
	box-shadow: 5px 5px 10px rgba(1, 46, 70, 0.8);
	border: 1px solid rgba(9, 95, 110, 0.5);
	color: #FFF;
	font-size: 16px;
	text-indent: 5px;
}

#login-form {
	display: inline-block;
}

#hello-message {
	display: inline-block;
	font-size: 16px;
	font-style: italic;
}

#logout {
	color: #FFE699;
	text-decoration: none;
	font-size: 16px;
	border: 1px solid #044152;
	display: block;
	line-height: 20px;
	width: 108px;
	text-align: center;
	height: 25px;
	margin-top: 10px;
	background-color: rgba(12, 31, 35, 0.9);
	box-shadow: 5px 5px 10px rgba(1, 46, 70, 0.8);
	border: 1px solid rgba(9, 95, 110, 0.5);
	color: #FFF;
	font-size: 16px;
	text-indent: 5px;
	bottom: 0px;
	position: absolute;
}

#avatar {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 134px;
	float: right;
	padding: 5px;
	box-shadow: 5px 5px 10px rgba(1, 46, 70, 0.8);
	border: 1px solid rgba(9, 95, 110, 0.5);
	width: 70px;
	height: 70px;
}