<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_4.dtd" >

<web-app>
	<welcome-file-list>
		<welcome-file>route</welcome-file>
	</welcome-file-list>
	<display-name>Shop</display-name>
	<servlet>
		<servlet-name>ImageGenerator</servlet-name>
		<display-name>ImageGenerator</display-name>
		<description></description>
		<servlet-class>com.epam.preprod.bohdanov.controller.servlet.ImageGenerator</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.epam.preprod.bohdanov.controller.servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.epam.preprod.bohdanov.controller.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Route</servlet-name>
		<display-name>Route</display-name>
		<description></description>
		<servlet-class>com.epam.preprod.bohdanov.controller.servlet.Route</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Cart</servlet-name>
		<display-name>Cart</display-name>
		<description></description>
		<servlet-class>com.epam.preprod.bohdanov.controller.servlet.Cart</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CartManager</servlet-name>
		<display-name>CartManager</display-name>
		<description></description>
		<servlet-class>com.epam.preprod.bohdanov.controller.servlet.CartManager</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewOrder</servlet-name>
		<display-name>NewOrder</display-name>
		<description></description>
		<servlet-class>com.epam.preprod.bohdanov.controller.servlet.NewOrder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Checkout</servlet-name>
		<display-name>Checkout</display-name>
		<description></description>
		<servlet-class>com.epam.preprod.bohdanov.controller.servlet.Checkout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Success</servlet-name>
		<display-name>Success</display-name>
		<description></description>
		<servlet-class>com.epam.preprod.bohdanov.controller.servlet.Success</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageGenerator</servlet-name>
		<url-pattern>/captcha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Route</servlet-name>
		<url-pattern>/Route</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cart</servlet-name>
		<url-pattern>/Cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartManager</servlet-name>
		<url-pattern>/CartManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewOrder</servlet-name>
		<url-pattern>/NewOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Checkout</servlet-name>
		<url-pattern>/Checkout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/Success</url-pattern>
	</servlet-mapping>
	<!-- Filter HERE -->
	<filter>
		<filter-name>GZipServletFilter</filter-name>
		<display-name>GZipServletFilter</display-name>
		<description></description>
		<filter-class>com.epam.preprod.bohdanov.controller.filter.GZipServletFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AuthorizationFilter</filter-name>
		<display-name>AuthorizationFilter</display-name>
		<description></description>
		<filter-class>com.epam.preprod.bohdanov.controller.filter.AuthorizationFilter</filter-class>
		<init-param>
			<param-name>XMLPath</param-name>
			<param-value>WEB-INF</param-value>
		</init-param>
		<init-param>
			<param-name>XMLFileName</param-name>
			<param-value>security.xml</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>LocalizationFilter</filter-name>
		<display-name>LocalizationFilter</display-name>
		<description></description>
		<filter-class>com.epam.preprod.bohdanov.controller.filter.LocalizationFilter</filter-class>
		<init-param>
			<param-name>Русский</param-name>
			<param-value>ru</param-value>
		</init-param>
		<init-param>
			<param-name>English</param-name>
			<param-value>en</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<display-name>NoCacheFilter</display-name>
		<description></description>
		<filter-class>com.epam.preprod.bohdanov.controller.filter.NoCacheFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/newOrder</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/checkout</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/success</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LocalizationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipServletFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipServletFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipServletFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipServletFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<!-- Filter HERE -->
	<listener>
		<listener-class>com.epam.preprod.bohdanov.controller.listener.ServletContextInitListener</listener-class>
	</listener>
	<context-param>
		<param-name>ImagePath</param-name>
		<param-value>images\avatars</param-value>
	</context-param>
	<context-param>
		<param-name>Captcha</param-name>
		<param-value>session</param-value>
	</context-param>
	<context-param>
		<param-name>CaptchaMaxAge</param-name>
		<param-value>60000</param-value>
	</context-param>
	<context-param>
		<param-name>LocaleManager</param-name>
		<param-value>cookie</param-value>
	</context-param>
	<context-param>
		<param-name>CookieMaxAge</param-name>
		<param-value>60</param-value>
	</context-param>
	<error-page>
		<error-code>404</error-code>
		<location>/404_error.html</location>
	</error-page>
	<!-- <error-page> <exception-type>java.lang.Throwable</exception-type> <location>/error.jsp</location> 
		</error-page> -->
	<context-param>
		<param-name>LOCALE</param-name>
		<param-value>en-US</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
		<param-value>en_US</param-value>
	</context-param>
</web-app>
